# This file contains sensitive information and should not be shared publicly. Please replace the values with your own credentials before using the application or it will not work. Do not commit this file to version control. Use the .env.example file as a template for your own .env file.
# Example .env file for RAD Rich Presence application

RA_USERNAME=your_username_here
RA_API_KEY=your_api_key_here
DISCORD_CLIENT_ID=your_discord_client_id
POLL_SECONDS=120